%strong
  You have received a new email from the 
  = Spree::Config[:site_name] 
  Website 

%p
  Here are the details of the message:

%p
  %strong
    Name:
  = @contact.name

%p
  %strong
    Email:
  = @contact.email
  
%p
  %strong  
    City:
  = @contact.city
  
%p
  %strong
    State:
  = @contact.state.name if @contact.state
  
%p
  %strong
    Zip:
  = @contact.zip
  
%p
  %strong
    Message:
  %br
  = @contact.message